@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body {
text-align:center;
color:red ;
background-color: black ;
font-family: 'Oswald', sans-serif;
font-size: 14pt;
border: 3px solid red;
}
b{ color: white;

}